<form method="post" action="/createablum">
	name:<input type="text" name="name"></input>
	description:<textarea name="description"></textarea>
	<select name="genres" multiple="multiple">
		<option value="" disabled>Choose genres</option>
		<option value="Downtown">Downtown</option>
		<option value="Park">Park</option>
		<option value="Lake">Lake</option>
		<option value="River">River</option>
		<option value="Beach">Beach</option>
		<option value="Nightview">Nightview</option>
	</select>
	<input type="submit">submit</input>
</form>