<form method="post" action="/test_makeComment">
	photo_id: <input type="text" name="photo_id"></input>
	to_id: <input type="text" name="to_id"></input>
	comment: <input type="text" name="comment"></input>
	<button type="submit">submit</button>
</form>