<!DOCTYPE html>
<style>
.chat-button{
	position: fixed;
	right: 1%;
	bottom: 3%;
}
.chat-panel{
	position: fixed;
	right: 1%;
	bottom: 3%;
	width:250px;
	height:350px;
	opacity:0.9;
	display:none;
}
</style>
<script>
var chatToggle=function(){
	$(".chat-panel").toggle(100);
	$(".chat-button").toggle(100);
}
</script>
<div class="btn btn-default btn-lg chat-button" onclick="chatToggle();"><span class="glyphicon glyphicon-comment"></span></div>
<div class="panel panel-default chat-panel">
	<div class="panel-heading">
		<div class="panel-title"><span class="glyphicon glyphicon-comment"></span>
			<span class="pull-right" onclick="chatToggle();">&times;</span>
		</div>
	</div>
</div>