<!DOCTYPE html>
<style>
	#signupform input{
		width:100%;
	}
</style>
	
<div class="modal fade" id="register" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
	  <div class="modal-content">
		 <div class="modal-body"  style="max-height:880px;overflow-x:hidden;overflow:auto;">
			<!-- form: -->
			<div class="col-lg-10 col-lg-offset-1">
					<div class="page-header">
						<h2>Sign up</h2>
					</div>
					<form id="signupform" data-toggle="validator" action="/signup" method="post">
						<div class="form-group">
							<label class="control-label">Username</label>
							<input name="username" type="text" class="form-control"  placeholder="Username" data-remote="/checkavaliability" required>
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="control-label">Password</label>
							<div class="form-inline row">
								<div class="form-group col-md-6">
									<input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password" required>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-md-6">
									<input type="password" class="form-control" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						<div class="form-group has-feedback">
							<label for="name" class="control-label">Full Name</label>
							<div class="form-inline row">
								<div class="form-group col-md-6">
									<input name="first_name" type="text" class="form-control" placeholder="First name" required>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-md-6">
									<input name="last_name" type="text" class="form-control"  placeholder="Last name" required>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Birthday</label>
							<input name="birthday" type="date" class="form-control" placeholder="Birthday" required>
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group">
							<label class="control-label">Occupations</label>
							<select class="form-control" name="occupations">
								<option value="">-- Select an occupation --</option>
								<option value="engineer">Engineer</option>
								<option value="teacher">Teacher</option>
								<option value="salesman">Salesman</option>
								<option value="student">Student</option>
								<option value="other">Other</option>
							</select>
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group">
							<label class="control-label">Email</label>
							<input name="email" type="email" class="form-control" placeholder="Email" data-remote="/checkavaliability" required>
							<!-- <span class="glyphicon form-control-feedback" aria-hidden="true"></span> -->
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group">
							<label class="control-label">Phone</label>
							<input name="phone" type="text" pattern="^[0-9]{10}$" data-pattern-error="Please input a valid phone number with 10 digits."  class="form-control" placeholder="Phone" data-remote="/checkavaliability" required>
							<!-- <span class="glyphicon form-control-feedback" aria-hidden="true"></span> -->
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group">
							<label class="control-label">Introduction</label>
							<textarea name="introduction" type="text" class="form-control" placeholder="Introduction" rows="4" required></textarea>
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Sign up</button>
						</div>
					</form>
					<!-- Previous 
					<form id="registerForm" class="form-horizontal"
						  data-fv-message="This value is not valid"
						  data-fv-icon-valid="glyphicon glyphicon-ok"
						  data-fv-icon-invalid="glyphicon glyphicon-remove"
						  data-fv-icon-validating="glyphicon glyphicon-refresh" enctype="multipart/form-data" method="post" accept-charset="utf-8">
						<div class="form-group">
							<label class="col-lg-3 control-label">Full name</label>
							<div class="col-lg-4">
								<input type="text" class="form-control" name="first_name" placeholder="First name" required data-fv-notempty-message="The first name is required and cannot be empty" />
							</div>
							<div class="col-lg-4">
								<input type="text" class="form-control" name="last_name" placeholder="Last name" required data-fv-notempty-message="The last name is required and cannot be empty" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-3 control-label">Username</label>
							<div class="col-lg-5">
								<input type="text" class="form-control" name="username"
									   data-fv-message="The username is not valid"
									   required data-fv-notempty-message="The username is required and cannot be empty"
									   pattern="^[a-zA-Z0-9]+$" data-fv-regexp-message="The username can only consist of alphabetical and digits"
									   data-fv-stringlength="true" data-fv-stringlength-min="6" data-fv-stringlength-max="30" data-fv-stringlength-message="The username must be more than 6 and less than 30 characters long"
									   data-fv-remote="true" data-fv-remote-url="/check_avaliability" data-fv-remote-delay="500" data-fv-remote-message="The username is not available" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-3 control-label">Email address</label>
							<div class="col-lg-5">
								<input class="form-control" name="email" type="email" data-fv-emailaddress-message="The input is not a valid email address" 
																	required data-fv-notempty-message="The Email is required and cannot be empty"
																	data-fv-remote="true" data-fv-remote-url="/check_avaliability" data-fv-remote-delay="500" data-fv-remote-message="The email is used already"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-3 control-label">Password</label>
							<div class="col-lg-5">
								<input type="password" class="form-control" name="password"
									   required data-fv-notempty-message="The password is required and cannot be empty"
									   data-fv-stringlength="true" data-fv-stringlength-min="6" data-fv-stringlength-max="30" data-fv-stringlength-message="The password must be more than 6 and less than 30 characters long"
									   data-fv-different="true" data-fv-different-field="username" data-fv-different-message="The password cannot be the same as username" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-3 control-label">Retype password</label>
							<div class="col-lg-5">
								<input type="password" class="form-control" name="confirmPassword"
									   required data-fv-notempty-message="The confirm password is required and cannot be empty"
									   data-fv-identical="true" data-fv-identical-field="password" data-fv-identical-message="The password and its confirm are not the same" />
							</div>
						</div>						
						
						<div class="form-group">
							<label class="col-lg-3 control-label">Birthday</label>
							<div class="col-lg-5">
								<input type="date" class="form-control" name="birthday" data-fv-date="false" data-fv-date-format="MM/DD/YYYY" data-fv-date-message="The birthday is not valid" required data-fv-notempty-message="The birthday is required"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-3 control-label">Citizenship</label>
							<div class="col-lg-5">
								<select class="form-control" name="citizenship">
									<option value="">-- Select a country --</option>
									<option value="france">France</option>
									<option value="germany">Germany</option>
									<option value="italy">Italy</option>
									<option value="japan">Japan</option>
									<option value="russia">Russia</option>
									<option value="united kingdom">United Kingdom</option>
									<option value="united state">United State</option>
									<option value="other">Other</option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-lg-3 control-label">Occupation</label>
							<div class="col-lg-5">
								<select class="form-control" name="occupation" >
									<option value="">-- Select an occupation --</option>
									<option value="engineer">Engineer</option>
									<option value="teacher">Teacher</option>
									<option value="salesman">Salesman</option>
									<option value="student">Student</option>
									<option value="other">Other</option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-lg-3 control-label">Phone</label>
							<div class="col-lg-5">
								<input class="form-control" name="phone" type="text"
											pattern="^[0-9]{10}$" data-fv-regexp-message="The phone can only consist of 10 digits"
											required data-fv-notempty-message="The phone is required and cannot be empty"
											data-fv-remote="true" data-fv-remote-url="/check_avaliability" data-fv-remote-delay="500" data-fv-remote-message="The phone is used already"/>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-lg-3 control-label">Introduction</label>
							<div class="col-lg-5">
								<textarea class="form-control" rows="4" name="introduction" type="text"
										data-fv-stringlength="true" data-fv-stringlength-max="250" data-fv-stringlength-message="The introduction must be less than 250 characters long"
										required data-fv-notempty-message="The introduction is required and cannot be empty"></textarea>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-6 col-sm-offset-3">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="agree" value="agree" 
											required data-fv-notempty-message="You must agree with the terms and conditions"/> Agree with the terms and conditions
									</label>
								</div>
							</div>
						</div>
						

						<div class="form-group">
							<div class="col-lg-9 col-lg-offset-3">
								<button type="submit" class="btn btn-primary">Sign up</button>
							</div>
						</div>
					</form> -->
				</div>
			<!-- form -->
		 </div>
	  </div>
	</div>
</div>