<!DOCTYPE html>
<!-- Update Password -->
<div class="modal fade" id="updatepassword" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body"  style="max-height:880px;overflow-x:hidden;overflow:auto;">
				<!-- form: -->
				<div class="modal-header" style="margin-bottom: 15px;">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Update Password</h4>
				</div>

				<form id="updatePasswordForm" class="form-horizontal"
						data-fv-message="This value is not valid"
						data-fv-icon-valid="glyphicon glyphicon-ok"
						data-fv-icon-invalid="glyphicon glyphicon-remove"
						data-fv-icon-validating="glyphicon glyphicon-refresh" enctype="multipart/form-data" method="post" accept-charset="utf-8">
					
					<div class="form-group row">
						<label class="col-lg-4 control-label">Current Password</label>
						<div class="col-lg-8">
							<input type="password" class="form-control" name="currentpassword"
									 required data-fv-notempty-message="The password is required and cannot be empty"
									 data-fv-remote="true" data-fv-remote-url="/check_password" data-fv-remote-delay="500" data-fv-remote-message="Please input the correct current password"/>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-lg-4 control-label">New Password</label>
						<div class="col-lg-8">
							<input type="password" class="form-control" name="password"
									 required data-fv-notempty-message="The password is required and cannot be empty"
									 data-fv-stringlength="true" data-fv-stringlength-min="6" data-fv-stringlength-max="30" data-fv-stringlength-message="The password must be more than 6 and less than 30 characters long"/>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-4 control-label">Retype New Password</label>
						<div class="col-lg-8">
							<input type="password" class="form-control" name="confirmPassword"
									 required data-fv-notempty-message="The confirm password is required and cannot be empty"
									 data-fv-identical="true" data-fv-identical-field="password" data-fv-identical-message="The new password and its confirm are not the same" />
						</div>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary pull-right">Update</button>
						<button type="submit" class="btn btn-default pull-right" data-dismiss="modal" style="margin-right: 15px;">back</button>
					</div>
				</form>
				<!-- form -->
		 </div>
	  </div>
	</div>
</div>

<script>
var loadPasswordUpdate = function(){
	$("#updatepassword").modal("show");
};

$("#updatepassword").on('hide.bs.modal', function(e){
	$('[name="currentpassword"], [name="password"], [name="confirmPassword"]').val('');
});

/*
$(document).ready(function() {
	$('#updatePasswordForm').formValidation()
	.on('success.form.fv', function(e) {
				// Prevent submit form
				e.preventDefault();
				
				var $form     = $(e.target),
					validator = $form.data('formValidation');
				
				$.post("/updateprofile", $(this).serializeArray())
					.done(function(data){
						console.log(data);
					});
				// Show the modal
				
				$('#updatepassword').modal('hide');
				
				$('#register_successful')
					.find('.welcome').html("You have Updated your password successfully!").end()
					.modal('show');

				$form
					.formValidation('disableSubmitButtons', false)
					.formValidation('resetForm', true);
			});
			
});
*/
</script>